{% extends 'base.html' %}
{% load static %}

{% block project %}
text-warning
{% endblock %}

{% block title %}
Project
{% endblock %}

{% block hero%}
<div class="hero fw-semibold text-light text-center pb-3">

    <h4 class="txt-color">EXCELLENCE IN CONSTRUCTION</h4>
    <p>Our Featured Projects</p>
    <!-- counter start -->
    <div class="row  py-5 mb-5 fs-5">
        <div class="col-sm-10 mx-auto text-center">
            <div class="row">
                <div class="col-sm-12 col-md-6 p-2 col-lg-3">
                    <div class="box border border-2 rounded-3 p-2 shadow-lg bgcc">
                        <h1 class="count txt-color">250+</h1>
                        <p class="msg fw-semibold">Project Completed</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 p-2">
                    <div class="box border border-2 rounded-3 p-2 shadow-lg bgcc">
                        <h1 class="count txt-color">30+</h1>
                        <p class="msg fw-semibold">Year Eperiences</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 p-2">
                    <div class="box border border-2 rounded-3 p-2 shadow-lg bgcc">
                        <h1 class="count txt-color">98%</h1>
                        <p class="msg fw-semibold">Client Satisfaction</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 p-2">
                    <div class="box border border-2 rounded-3 p-2 shadow-lg bgcc">
                        <h1 class="count txt-color">42</h1>
                        <p class="msg fw-semibold">Industry Award</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter end -->
</div>
{% endblock %}

{% block main %}
<div class="row ">
    <div class="col-sm-12 about">

    </div>
</div>

<!-- our project start -->
<div class="row bg-light mb-5 py-3 text-center" >
    <h1 class="txt-color my-2 mb-4">--- OUR PROJECTS ---</h1>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2">
        <div class="card text-bg-dark">
            <img src="{% static 'img/p1.jpg' %}" class="card-img" alt="...">
            <div class="card-img-overlay bottom-0">
                <h4 class="card-title text-light fw-semibold" style="margin-top: 120px;">Modern
                    Office Complex</h4>
                <p class="card-text txt-color"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2">
        <div class="card text-bg-dark">
            <img src="{% static 'img/p2.jpg' %}" class="card-img" alt="...">
            <div class="card-img-overlay bottom-0">
                <h6 class="card-title text-light fw-semibold" style="margin-top: 120px;">Luxury
                    Residential Tower</h6>
                <p class="card-text txt-color"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2">
        <div class="card text-bg-dark">
            <img src="{% static 'img/p3.jpg' %}" class="card-img" alt="...">
            <div class="card-img-overlay bottom-0">
                <h6 class="card-title text-light fw-semibold" style="margin-top: 120px;">Sustainable
                    Community Center</h6>
                <p class="card-text txt-color"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2">
        <div class="card text-bg-dark">
            <img src="{% static 'img/p4.jpg' %}" class="card-img" alt="...">
            <div class="card-img-overlay bottom-0">
                <h6 class="card-title text-light fw-semibold" style="margin-top: 120px;">Industrial
                    Manufacturing Hub</h6>
                <p class="card-text txt-color"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2">
        <div class="card text-bg-dark">
            <img src="{% static 'img/p5.jpg' %}" class="card-img" alt="...">
            <div class="card-img-overlay bottom-0">
                <h6 class="card-title text-light fw-semibold" style="margin-top: 120px;">Waterfront
                    Hotel & Spa</h6>
                <p class="card-text txt-color"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2">
        <div class="card text-bg-dark">
            <img src="{% static 'img/p6.jpg' %}" class="card-img" alt="...">
            <div class="card-img-overlay bottom-0">
                <h6 class="card-title text-light fw-semibold" style="margin-top: 120px;">Urban
                    Mixed-Use Development</h6>
                <p class="card-text txt-color"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>


</div>
<!-- our project end -->

<!-- testimonial start -->
<div class="row bg-light mb-5 py-3 text-center" >
    <h1 class="txt-color my-2 ">--- TESTIMONIALS ---</h1>
    <p class="mb-3">Read testimonials from our satisfied clients who have experienced our dedication
        to quality, reliability, and excellence in construction.</p>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2 text-start">
        <div class="ratecard border shadow-lg rounded-4 mx-auto p-3">
            <p class="txt-color"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-regular fa-star"></i></p>
            <p>"Working with this construction team was a fantastic experience. Their attention to
                detail and commitment to quality exceeded our expectations. They completed our
                project on time and within budget."</p>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <img src="{% static 'img/rating.jpg' %}" alt="" height="40px"
                        class="rounded-circle">
                </div>
                <div class="col-sm-9">
                    <p><b class="txt-color">Sarah Johnson</b> <br>Property Developer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2 text-start">
        <div class="ratecard border shadow-lg rounded-4 mx-auto p-3">
            <p class="txt-color"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star-half-stroke"></i></p>
            <p>"Working with this construction team was a fantastic experience. Their attention to
                detail and commitment to quality exceeded our expectations. They completed our
                project on time and within budget."</p>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <img src="{% static 'img/rating.jpg' %}" alt="" height="40px"
                        class="rounded-circle">
                </div>
                <div class="col-sm-9">
                    <p><b class="txt-color">Sarah Johnson</b> <br>Property Developer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 px-3 py-2 text-start">
        <div class="ratecard border shadow-lg rounded-4 mx-auto p-3">
            <p class="txt-color"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star"></i></p>
            <p>"Working with this construction team was a fantastic experience. Their attention to
                detail and commitment to quality exceeded our expectations. They completed our
                project on time and within budget."</p>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <img src="{% static 'img/rating.jpg' %}" alt="" height="40px"
                        class="rounded-circle">
                </div>
                <div class="col-sm-9">
                    <p><b class="txt-color">Sarah Johnson</b> <br>Property Developer</p>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- testimonial end -->

{% endblock %}