{% extends 'cbase.html' %}

{% block contractor %}
<div class="row">
    <div class="col-sm-12">
        <h1>Completed Projects</h1>
        {% if projects %}
        <table class="table">
            <tr>
                <th>S.NO</th>
                <th>Project Name</th>
                <th>Homeowner Name</th>
                <th>Status</th>
            </tr>
            {% for p in projects %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{p.projectname}}</td>
                <td>{{p.homeowner.name}}</td>
                <td>
                    <span class="btn btn-success">{{p.status}}</span>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class="text-center">You have no Completed Project</p>
        {% endif %}
    </div>
</div>
{% endblock %}